<!Doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ye Old Wizard</title>
  <meta name="description" content="Ye Old Wizard">
  <link rel="icon" type="image/png" href="images/favicon.ico"/>
  <link rel="stylesheet" href="yeoldwiz.css">
</head>
<body>

  <div id="app" v-cloak>
    <!-- <section>
      <h1>The Wizard</h1>
      <img src="/images/faces/dude.png" alt="The Wizard">
    </section> -->
    <section class="group" v-for="group in groups" > 
      <h1>{{group.title}}</h1> 
      <!-- <h3>{{group.low}} to {{group.high}} </h3> -->
      <div class="cmps" :class="{gms: group.isGms}">
        <span class="cmp" :title="cmp.summary" v-for='cmp of group.cmps'>
          <img class="face" :src="'/images/faces/' + cmp.face" alt="cmp.name">
          <div class=info>
            <span>{{cmp.name}}</span>
            <span>{{cmp.rating}}</span>
            <!-- <span>{{cmp.summary}}</span> -->
          </div>
        </span>
      </div>
    </section>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="yeoldwiz.js"></script>
</body>
</html>