<!Doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ye Old Wizard</title>
  <meta name="description" content="Ye Old Wizard">
  <link rel="icon" type="image/png" href="images/favicon.ico"/>
  <link rel="stylesheet" href="yeoldwiz.css">
</head>
<body>

  <div id="app" v-cloak>
    <section v-for="group in groups" > 
      <h1>{{group.title}}</h1> 
      <div v-for='cmp of group.cmps'>
        <img v-bind:src="'/images/faces/' + cmp.face" alt="cmp.name">
      </div>
    </section>
  </div>

  <!-- <group>
    <h1>The Wizard</h1>
  </group>
  <group>
    <h1>The Grandmasters</h1>
  </group>
  <group>
    <h1>Masters</h1>
    <h2>2000 to 2700</h2>
  </group>
  <group>
    <h1>Club Players</h1>
    <h2>1500 to 2000</h2>
  </group>
  <group>
    <h1>Casual Players</h1>
    <h2>1000 to 1500</h2>
  </group>
  <group>
    <h1>Beginners</h1>
    <h2>500 to 1000</h2>
  </group>
  <group>
    <h1>Noobs</h1>
    <h2>0 to 500</h2>
  </group> -->

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="yeoldwiz.js"></script>
</body>
</html>