@font-face {
  font-family: dosfont;
  src: url(fonts/LessPerfectDOSVGA.ttf);
}

:root {
  --nav-and-info-width: 20%
}

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 5rem;
  background-color: black;
  color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: dosfont;
  background-image: url("/images/wood.png");
  background-repeat: repeat-y repeat-x;
}


header {
  width: 100%;
  height: 2em;
  background-color: rgb(59, 31, 17);
  display: block;
  position: fixed;
  z-index: 2;
  line-height: 2em;
  padding-left: 1em;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

h2 {
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

h3 {
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}


main {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: row;
}

.groups {
  margin-left: var(--nav-and-info-width);
  margin-bottom: 25rem;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group .face {
  zoom: 1.25;
}


.cmps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  /* align-content: row-reverse; */
  justify-content: center;
}

.gms {
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.cmp {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.face {
  width: 72px;
  height: 93px;
  margin: 3px;
  border: 5px solid rgb(59, 31, 17);
  /* zoom: 1; */
  /* filter: brightness(1.1) contrast(1.5); */
  /* image-rendering: smooth; */
  /* image-rendering: pixelated; */
  image-rendering: crisp-edges;
}

.nav-and-info {
  height: 100%;
  width: 15em;
  flex: 0 0 auto;
  display: block;
  background-color: rgb(49, 32, 7, .5);
  padding: 3rem;
  position: fixed;
} 

nav a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  line-height: 1.5em;
}

.info .face {
  zoom: 2;
  image-rendering: pixelated;
}


.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

[v-cloak] { display: none !important; }